<h1><%= @article.title %></h1>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>


<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %> <br />

<%= link_to "edit", edit_article_path(@article)%>

<p><%= @article.body %></p>

<p>
  <%= @article.tag_list %><br />
</p>


<%= link_to "<< Back to Articles List", articles_path %><br />

<%= render partial: 'comments/form' %>



<h3>Comments (<%= @article.comments.size %>)</h3>

<%= render partial: 'articles/comment', collection: @article.comments %>